{% extends "core/base.html" %}

{% block extendjs %}
<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>

<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script type="text/javascript" src="http://map.openseamap.org/map/javascript/harbours.js"></script>
<script type="text/javascript" src="http://map.openseamap.org/map/javascript/map_utils.js"></script>

<script type="text/javascript" src="http://map.openseamap.org/javascript/ais.js"></script>

{% endblock %}


{% block extendcss %}
    <style>
    </style>
{% endblock %}

    {% block content %}

        <div id="map" style="width:1200px; height:800px"></div>

    {% endblock %}

<script type="text/javascript">

{% block js %}
    function init() {

        selectControl = new OpenLayers.Control.SelectFeature([],{
            hover:true,
            popup:null,
            addLayer:function(layer){
                var layers = this.layers;
                if (layers) {
                    layers.push(layer);
                } else {
                    layers = [
                        layer
                    ];
                }
                this.setLayer(layers);
            },
            removePopup:function(){
                if (this.popup) {
                    this.map.removePopup(this.popup);
                    this.popup.destroy();
                    this.popup = null;
                }
            }
        });


        map = new OpenLayers.Map("map");
        var mapnik = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);
        map.setCenter(new OpenLayers.LonLat(6.0, 43.0) // Centre de la carte
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transformation de WGS 1984
            new OpenLayers.Projection("EPSG:900913") // en projection Mercator sphérique
          ), 8 // Zoom level
        );
        // AIS (from zoom level 8 upwards)
        ais = new Ais(map, selectControl);

        layer_ais = ais.getLayer();
        map.addLayer(layer_ais)
    }

    init();

{% endblock %}