{% extends "core/base.html" %}
{% load leaflet_tags %}

{% block extendjs %}
    {% leaflet_js %}
    <script src="http://openweathermap.org/js/leaflet-layer.js"></script>

{% endblock %}


{% block extendcss %}
    {% leaflet_css %}
    <style>
        #map {
            width: auto;
            height: 800px;
        }
    </style>
{% endblock %}

    {% block content %}

        <div id="map" class="leaflet-container-default"></div>
          <input type="checkbox" id="ais">AIS Tracking

    {% endblock %}

<script type="text/javascript">

{% block js %}
    var map;

(function () {

    baseLayer = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
                maxZoom: 18,
                opacity: 1,
            })



    map = L.map('map', {
        center: [43.079, 5.7858], //[45.0, 6.0],
        zoom: 16,
        maxzoom: 18,
        minzoom: 0,
        minimap: true,
        scale: 'metric',
        layers: [baseLayer]
    });

    openWeatherMapLayers = {
        'Quantity of precipitation': 'precipitation',
        'Rain precipitation': 'rain',
        'Snow precipitation': 'snow',
        'Cloud Cover': 'clouds',
        'Sea Level Pressure': 'pressure',
        'Sea Level Pressure contour': 'pressure_cntr',
        'Temperature': 'temp',
        'Wind speed': 'wind',
    }
    // initialize OpenWeatherMap menu
    var $menu = $('#open-weather-map');
    var overlays = {};

    for (key in openWeatherMapLayers) {

            layer = L.tileLayer('http://{s}.tile.openweathermap.org/map/' + openWeatherMapLayers[key] + '/{z}/{x}/{y}.png', {
                attribution: 'Map data © OpenWeatherMap',
                maxZoom: 18,
                opacity: 0.5,
            });
        overlays[key] = layer;

    }
    var seamarks = L.tileLayer('http://tiles.openseamap.org/seamark/{z}/{x}/{y}.png', {
                attribution: '',
                maxZoom: 18,
                opacity: 1,
            }).addTo(map);
    overlays["Seam marks"] = seamarks;


    var city_meteo = new OsmJs.Weather.LeafletLayer({lang: 'en'});
    overlays["City meteo"] = city_meteo;


    var deepshade = L.tileLayer.wms('http://osm.franken.de:8080/geoserver/gwc/service/wms', {
            layers: 'gebco_new',   // old version gebco:deepshade
            format: 'image/png',
            attribution: "Weather data © 2012 IEM Nexrad"
             });
    overlays["Marine profile"] = deepshade;


    var layerControl = L.control.layers(null, overlays).addTo(map);

    // inspired from https://github.com/meteotest/leaflet-arrows
    function calculateEndPoint(latlng, dist, degree) {
        /*
         * http://www.codeguru.com/cpp/cpp/algorithms/article.php/c5115/Geographic-Distance-and-Azimuth-Calculations.htm
         */
        var distance = dist * 0.001; //config.stretchFactor;
        var R = 6378.137, // earth radius in kmmeters
        d2r = L.LatLng.DEG_TO_RAD, // degree 2 radius
        r2d = L.LatLng.RAD_TO_DEG, //

        bearing = degree * d2r;
        distance = distance / R;
        var a = Math.acos(Math.cos(distance) *
                Math.cos((90 - latlng.lat) * d2r) +
                Math.sin((90 - latlng.lat) * d2r) *
                Math.sin(distance) *
                Math.cos(bearing));
        var B = Math.asin(Math.sin(distance) * Math.sin(bearing) / Math.sin(a));
        return new L.LatLng(90 - a * r2d, B * r2d + latlng.lng);
    }

    function calculateArrowArray(latlng, degree) {
        // calculates the Array for the arrow

        // latlng is the position, where the arrow is added
        // degree is the degree of the line
        var arrowheadLength = 8;
        var arrowheadDegree = 14;
        var arrowheadClosingLine = true;

        if (latlng.length !== undefined) {
            latlng = new L.LatLng(latlng);
        }
        var firstEdge = calculateEndPoint(latlng, arrowheadLength, degree -
                arrowheadDegree);
        var arr = [ firstEdge, latlng,
                calculateEndPoint(latlng, arrowheadLength, degree + arrowheadDegree) ];

        if (arrowheadClosingLine) {
            arr.push(firstEdge);
        }
        return arr;
    }

    var pointPathOption = {
        stroke : false,
        fillOpacity: 0.8,
    };
    var polys = []
    function ais(event) {
        if ($('#ais:checked').length > 0) {
            var b = map.getBounds();
            var s = b._southWest.lng + ',' + b._southWest.lat  + ',' +  b._northEast.lng + ',' + b._northEast.lat;

            $.get('/aisproxy/?bbox=' + s ,
                function(response){
                data = []
                var vessels = response['POSITIONS']['V_POS']
                for (idx in vessels) {
                    // H: course,
                    // console.log(vessels[idx]['@N'])
                    poly = L.circle([vessels[idx]['@LAT'], vessels[idx]['@LON']], 20, {'weight': 2}).addTo(map);
                    polys.push(poly);

                    var startPoint = new L.LatLng(vessels[idx]['@LAT'], vessels[idx]['@LON']);
                    var degree = vessels[idx]['@H'];
                    var line = [ startPoint, calculateEndPoint(startPoint, 50, degree) ];
                    var arrow = calculateArrowArray(line[1], degree);

                    poly = new L.MultiPolyline([line, arrow], {'weight': 2});
                    poly.addTo(map);
                    polys.push(poly);
                }

            });
        } else {
            $.each(polys, function(idx, item) {
                map.removeLayer(item)
            });
        }

    }
    $('#ais').on('click', ais);
    map.on('viewreset', ais);
    ais();

})();
{% endblock %}
